<footer class="w3-container-fluid w3-black w3-center w3-padding" style="margin-top: 50px;">
    <div class="" style="">
        <p>Gabriel Garate Zea</p>
        <p>N10023780</p>
        <p class="w3-xlarge">CAB432 - Cloud Computing</p>
        <p class="w3-xlarge">QUT</p>
    </div>

</footer>